

/* Profile view container styling */
.container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #83a3cc 0%, #fbc2eb 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: white;
    gap: 20px;
}

/* User image styling */
.user-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.img-account-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
}

/* Profile information styling */
.profile-info {
    flex: 1;
    background: #f9f9f9;
    padding: 30px;
    margin-bottom: 20px;
    color: #4a4a4a;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field-info {
    color: #5C6BC0;
    font-weight: 700;
}

.profile-info p {
    margin: 0;
    line-height: 1.5;
}

.profile-info:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    transition: box-shadow 0.3s ease-in-out;
}

/* Orders history table styling */
table {
    width: 1300px;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #5c97bf;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.btn-cancel {
    padding: 5px 10px;
    background-color: #ffa946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #d32f2f;
}

/* General page container setup */
.page-container {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height:90vh;
}
