
.container {

    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;


}
h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;


}
.head {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.flag{
     float: left;
    background-size: cover;
     background-position: center;
     height:350px;
     width: 320px;
}

::placeholder {
    text-align: center;
    color: #2d3748;
}
.head-color {
    color: #4a5568; /* text-gray-700 */
}

.head-color:hover {
    color: #2d3748; /* text-gray-900 */
}
