{% extends 'base.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('Profile.static', filename='CSS/Profile.css') }}">
{% endblock %}

{% block title %}Profile{% endblock %}
{% block main_block %}

    <div class="page-container">
        <div class="content">
        <h2>האזור האישי</h2>
        <div class="container">
            <!--Person card with all his details-->
            <div class="profile-info">
                <p><strong class="field-info">שם מלא:</strong> {{ user.firstname }} {{ user.surname }}</p>
            <!-- <p><strong class="field-info">גיל:</strong> {{ user.age }}</p>-->
                <p><strong class="field-info">מייל:</strong> {{ user.email }}</p>
                <p><strong class="field-info">מספר טלפון:</strong> {{ user.phone }}</p>
                <p><strong class="field-info">כתובת:</strong> {{ user.city }}</p>
            </div>
            <!--Person profile img-->
            <div class="user-img">
                <img class="img-account-profile rounded-circle mb-2" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
            </div>
        </div>
        <!--Table of apartements order history-->
        {% if bookings %}
            <table>
                <tr>
                    <th>#</th>
                    <th>כתובת הדירה</th>
                    <th>צ'ק אין</th>
                    <th>צ'ק אאוט</th>
                    <th>סטטוס בעל דירה</th>
                    <th>חזרו אליי</th>
                    <th>ביטול</th>
                </tr>
            <!-- Dynamic rows -->
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.apartment_id }}</td>
                    <td>{{ booking.Full_address }}</td>
                    <td>{{ booking.start_date }}</td>
                    <td>{{ booking.end_date }}</td>
                    {% if booking.contact_me %}
                        <td>{{ booking.contact_me }}</td>
                        <td class="btn-edit-empty">&#10003;</td>
                    {% else %}
                        <td></td>
                        <td><a href="#" class="btn-edit" booking_id="{{ booking.booking_id }}">&#43;</a></td>
                    {% endif %}
                    <td><a href="#" class="btn-cancel" booking_id="{{ booking.booking_id }}">Cancel</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div class="message">לא נמצאו הזמנות קיימות</div>
        {% endif %}
        </div>

    </div>

{% endblock %}


    {% block JS %}
    {{ super() }}
    <script src="{{ url_for('Profile.static', filename='JS/Profile.js') }}"></script>
    {% endblock %}
