<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <!--General page config-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnityUplift - {% block title %}Base{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
    {% block css %}
        <link rel="stylesheet" href="{{url_for('static', filename='base.css') }}">
    {% endblock %}
</head>
<body>
    
{% include 'header.html' %}

{% block main_block %}

{% endblock %}

{% include 'footer.html' %}

{% block JS %}

{% endblock %}

</body>
</html>