    <header class="header">
        <nav>
            <div class="logo">
                <a href="{{ url_for('HomePage.index') }}"><strong>UnityUplift</strong></a>
            </div>
            <!--Menu in top nav div -->
            <div>
                {% if 'user_id' not in session %}
                    <a href="{{ url_for('HomePage.index') }}">דף הבית</a>
                {% else %}
                     <a href="{{ url_for('Profile.index', user_id=session['user_id']) }}">האזור האישי</a>
                     <a href="{{ url_for('SearchPage.index') }}" >חיפוש דירות</a>
                {% endif %}
                <a href="{{ url_for('ContactUs.index') }}" >צור קשר</a>
            </div>
            <!--Searching in website-->
            <div class="search-top">
                <button type="submit" class="search-button">🔍</button>
                <input type="search" placeholder="חיפוש באתר" class="search">
            </div>
        </nav>
    </header>